/* common*/
html{
  --bg : rgb(255, 163, 235);
}


header{
  background:rgb(90, 85, 88);
}
body {
  margin: 0;
}


.slider {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: auto;
}

.slides {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  max-height: 100%;
  animation: slide 10s infinite ease-in-out forwards;
 
}

.slides figure {
  display: inline-block;
  width: 300px;
  max-height: 100%;
  margin: 0;
}

.slides figure img {
  width: 300px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}








.services{
  display: grid;
  margin-top: 40px;
  background :var(--bg);
  padding: 30px;
  font-size: 0.7rem;
  grid-template-columns: repeat(3, 1fr);


}
.sevices .img{
  width: 500px;
  height:300px;
}
.bbalma{
width: 33%;
display: block;
float : left;
}

.ysl{
  width: 33%;
  display: block;
  float:left;
}

 
.hermes{
    width: 33%;
    display: block;
    float : left;
}

.team .img{
  width: 500px;
  height:300px;
}
.tlv{
width: 33%;
display: block;
float : left;
}

.tysl{
  width: 33%;
  display: block;
  float:left;
}

 
.thermes{
    width: 33%;
    display: block;
    float : left;
}

.place{
  display: inline;
  text-align:left ;
 
}
.contact{
  float: left;
}










/*footer*/ 
footer{
    display: grid;
    margin-top: 600px;
    background :var(--bg);
    padding: 30px;
    font-size: 0.7rem;
    grid-template-columns: repeat(3, 1fr);
  
}

footer p{
  padding :10 px;
  
}